@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');



html {
  background-color: #f5fbf9;
}

.App * {
  box-sizing: border-box;
}

.App {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/*  styling for NumberOfEvents */

.number {
  border-radius: 20%;
  padding: 8px;
  height: 40px;
  width: 250px;
}

div.NumberOfEvents {
  color: #d9d9d9;
  text-align: center;
}

/* CitySearch Styling  */
p.chooseCity {
  font-size: 20px;
  font-weight: bold;
  color: #1f2326;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

p.numberOfCity {
  font-size: 20px;
  font-weight: bold;
  color: #1f2326;
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 60px;
  font-weight: bold;
  color: #ff660d;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.city {
  border-radius: 10px;
  height: 50px;
  width: 300px;
}

.suggestions {
  list-style: none;
  text-align: center;
}

b.seeAll {
  color: #616161;
  margin-top: 50px;
  padding-right: 50px;
}

li.cityResult {
  color: #ff660d;
  list-style: none;
  padding: 10%;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
  color: #dedede;
}

.display-none {
  display: none;
}

.showSuggestions {
  display: block;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.city {
  width: 250px;
}

.CitySearch {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  max-width: 300px;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  z-index: 2;
  align-self: center;
  margin: 0;
  top: 63px;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(255, 255, 255, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eeeeeec5;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: hsl(30, 70%, 85%);;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  color: #f5fbf9;
  background-color: #1f2326;
  font-family: 'Raleway', sans-serif;
}

a.link {
  color: #7af0ff;
}

.details-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
.Alert {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: bold;
}

.logout {
  border: none;
  border-bottom:#616161;
  border-radius: 3px;
  background-color: #1f2326;
  color: #f5fbf9;
  width: fit-content;
  margin: auto;
  padding: 10px;
  text-decoration: none;
  transition: opacity 0.5s;
  font-family: 'Raleway', sans-serif;
}

.logout:hover {
  color: #1f2326;
  cursor:pointer;
  box-shadow: 0 0.5em 0.5em -0.4em #1f2326;
  transform: translateY(-0.25em); 
  background-color: #ff660d;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.recharts-responsive-container {
  min-width: 100%;
  display: flex;
}